@import "tailwindcss";

.nav-item {
  border-radius: 9999px;
  padding: 0.5rem 1rem;
  transition: transform 200ms ease, background-color 200ms ease, box-shadow 200ms ease;
}

.nav-item:hover {
  transform: translateY(-2px);
  background-color: #0891b2;
  box-shadow: 0 10px 15px -3px rgba(34, 211, 238, 0.2);
}

@layer base {

  h1 {
    font-size: var(--text-3xl);
    font-weight: 500;
  }
  h2 {
    font-size: var(--text-2xl);
    font-weight: 500;
  }
  h3{
    font-size: var(--text-lg);
    font-weight: 500;
  }
}

@layer components {
  .button{
    @apply bg-blue-600 inline-block py-3 px-5 rounded-full hover:bg-blue-500 transition-colors;
  }
  .readmore{
    @apply font-semibold text-cyan-400;
  }
}

@layer components {
  .card {
    @apply border-2 border-gray-700 p-5 rounded-lg hover:scale-105 transition-transform bg-linear-to-bl even:bg-linear-to-tl from-cyan-500 to-blue-500;
  }
}
